/.venv/
/build/
/dist/
/.pytest_cache/
/.coverage
/.ruff_cache/
/.mypy_cache/
__pycache__/
*.py[cod]
*.log
*.autosave
*.tmp
*.bak
*.old
*.exe
*.zip
htmlcov/
assets/screenshots/_temporary/
.idea/
.vscode/
